@charset 'UTF-8';

html,
html * {
  	box-sizing: border-box;
  	margin-left: auto;
	margin-right: auto;
  	padding: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
html{
	overflow-y: scroll;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5f5f5f;
	background: white;
}
img { 
	width: 100%;
	max-width: 100%;
	height: 100%;
	vertical-align: middle;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
a, a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active, a:focus{
	color: #F68979;
}
h1 {
	margin-bottom: 1.5%;
	text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
	margin-left: .7em;
}
.wide{
	display: none;
}
.narrow{
	display: block;
}
.fade-in{
	animation-name: fadein;
	animation-duration: 2s;
}
.fade-left, .fade-right{
	opacity: 0;
	transform: translateX(0);
	transition: 1s;
}
figure{
	max-width: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure.fig-wide{
	max-width: 100%;
}
figure img{
	max-width: 100%;
}
figcaption{
	display: block;
	margin-top: 0.5em;
	font-size: 0.75em;
	text-transform: uppercase;
	text-align: center;
}
@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.hover-mask{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.7);
	opacity: 1;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease;
	z-index: 100;
	}
#page_top{
  	width: 100px;
  	height: 60px;
  	position: fixed;
  	right: 0;
  	bottom: -60px;
	background: rgba(133,2,62,0.60);
	cursor: pointer;
}
#page_top p{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
#page_top p::before{
  	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
  	content: '\f102';
  	font-size: 25px;
  	color: #fff;
  	position: absolute;
  	width: 25px;
  	height: 25px;
  	top: -40px;
  	bottom: 0;
  	right: 0;
  	left: 0;
  	margin: auto;
  	text-align: center;
}
#page_top p::after{
  	content: 'PAGE TOP';
  	font-size: 13px;
  	color: #fff;
  	position: absolute;
  	top: 25px;
  	bottom: 0;
  	right: 0;
  	left: 0;
  	margin: auto;
  	text-align: center;
}

	/*---------- COMMON ----------*/
header {
    top: 0px;
    padding-top: 10px;
	padding-bottom: 10px;
    position: relative;
    background-color: white;
    z-index: 1000;
    width: 100%;
}
main {
	padding-top: 0px;
	width: 100%;
	overflow: hidden;
}
.header_container{
    width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.header_container img{
	width: 40%;
	margin: 0 auto;
	position: relative;
}
nav{
	max-width: 100%;
}
nav label{
	display: block;
	background: #1E1E1E;
	margin: 0;
	padding: 10px;
	line-height: 1;
	color: white;
	font-size: 1.5em;
	font-weight:100;
	text-transform: uppercase;
	font-style: normal;
	cursor: pointer;
}
nav input{
	display: none;
}
#menutab:checked ~ #navlinks li{
	height: 48px;
}
#navlinks{
	width: 100%;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #000000;
	background-color: rgba(0,0,0,0.65);
}
#navlinks li{
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#navlinks a{
	display: block;
	padding-top: 10px;
	color: white;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage{
	color: #F68979;
}
#langlink a:hover, #langlink a:active, #langlink a:focus{
	font-weight: bold;
}
#langlink a.thispage{
	color: #F68979;
}

footer {
	margin-top: 20px;
	width: 100%;
	align-items: center;
	text-align: center;
}
.footer-content {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-legal {
	font-size: 10px;
	opacity: .8;
}
.footer-credit {
	margin-top: 5px;
	font-size: 8px;
	position: relative;
	opacity: .8;
}

	/*---------- INDEX ----------*/
.hero {
	width: 90%;
	margin: 0 auto;
    position: relative;
}
.hero img{
	width: 100%;
	max-height: auto;
	object-fit: cover;
}
.slick-slide {
	position: relative;
}
.slick-slide .hero-caption{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 2% 5%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 1em;
	opacity: 0;
	transition: .3s ease;
}
.slick-current .hero-caption{
	opacity: 1;
	transition-delay: .3s;
}
.bottom-contents{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-around; 
}
.bottom-contents h2{
    position: relative;
    margin-bottom: 5px;
	padding-left: 5%;
    border-top: medium solid #ccc;
    border-bottom: medium solid #ccc;
	display: block;
	top: 0;
	font-size: 16px;
}
.news {
	width: 90%;
	height: 130px;
	padding-top: 0;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling:touch;
}
.news iframe{
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	word-wrap: break-word;
}
.news-list {
	width: 100%;
	margin: 0;
	padding: 0;
}
.news-list ul{
	list-style-type: none;
}
.news-list ul li{
	word-wrap: break-word;
	margin-bottom: 2%;
	padding-left: 5%;
	font-size: 90%;
}
.about {
	width: 90%;
	padding-top: 0;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling:touch;
}
.about p{
	padding: 0 5%;
}
.links{
	width: 90%;
	padding-top: 0;
	margin-bottom: 0;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
}
.links ul{
	list-style-type: none;
}
.links ul li{
	padding-left: 5%;
	margin-bottom: 2%;
	font-size: 90%;
}

	/*---------- MEMBERS ----------*/
p.member-category{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
p.member-affiliation{
	position: relative;
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 1%;
	padding-top: 0%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 1.5%;
	text-align: center;
	border-bottom: 4px solid rgba(133,2,62,0.60);
}
p.member-affiliation::before{
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 20%;
	height: 4px;
	content: "";
	background: #ccc;
}
.faculty-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.faculty-item{
	width: auto;
	margin: 0 auto;
	height: 200px;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
}
.faculty2-item{
	width: auto;
	height: 180px;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
}
.faculty-image{
	margin: 0;
	width: auto;
	height: 100%;
	text-align: center;
}
.faculty-image img{
	width: auto;
	/*object-fit: cover;
	border-radius: 80px;*/
}
.faculty-text{
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.faculty-name{
	width: 100%;
}
.faculty-info{
	width: 100%;
    margin-top: auto;
}
.faculty-text p.title{
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}
.faculty-text p.name{
	font-size: 18px;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 5%;
}
.faculty-text p.info-text{
	font-size: 12px;
	margin-top: 2%;
	margin-bottom: 0;
}
.student-list{
	margin-left: 0;
	margin-right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.student-list::after{
	display: block;
	content: "";
	width: 33%;
}
.student-item{
	width: 33%;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.student-image{
	display: none;
	margin: 0;
	height: 140px;
	margin-bottom: 8px;
	text-align: center;
}
.student-image img{
	width: auto;
}
.student-text{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.student-name{
	width: 100%;
}
.student-info{
	width: 100%;
    margin-top: auto;
}
.student-text p.title{
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
}
.student-text p.name{
	font-size: 14px;
	font-weight: bold;
	margin-top: 0%;
	margin-bottom: 0%;
}
.student-text p.info-text{
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.alumni-list{
	margin-left: 0;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}
.alumni-item{
	width: 90%;
	height: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.alumni-item table{
	border: none;
	width: 100%;
	table-layout: fixed;
	text-align: left;
}
.alumni-item table td{
	font-size: 10px;
}

	/*---------- RESEARCH ----------*/
.research-menu{
	width: 100%;
}
.research-menu ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	list-style-type: none;
}
.research-menu ul li{
	position: relative;
	width: 28%;
	margin: 1%;
	overflow: hidden;
}
.research-menu a p{
		font-size: 3vw;
	}
.research-menu ul li:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.research-menu img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: cover;
}
.research-section{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.research-item{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
}
.research-item p{
	max-width: 500px;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.research-item img:first-child{
	margin-top: 0;
}
.research-item img{
	margin-top: 2%;
}
/*
.research-item a{
	float: left;
}
.research-item a img{
	max-height: 40px;
	width: auto;
	margin-right: 1em;
}
*/
	/*---------- EVENTS ----------*/
.event-thumbnails{
	width: 100%;
}
.event-thumbnails ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	list-style-type: none;
}
.event-thumbnails ul li{
	position: relative;
	width: 28%;
	margin: 1%;
	overflow: hidden;
}
.event-thumbnails ul li:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.event-thumbnails img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: cover;
}
.event-date{
	position: absolute;
	margin-top: 0;
	top: 5%;
	left: 5%;
	font-size: 10px;
}
.event-name{
	position: absolute;
	margin-bottom: 0;
	bottom: 5%;
	right: 5%;
	font-size: 12px;
}
.event-title{
	position: relative;
	width: 100%;
	padding: 0 10%;
}
p.event-date-text{
	font-size: 1.0em;
	font-weight: normal;
	text-align: left;
	margin: 1em 0;
}
.event-title h2{
	font-size: 1.0em;
	font-weight: bold;
	text-align: left;
	border-bottom: 4px solid rgba(133,2,62,0.60);
}
.event-title h2::before{
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 20%;
	height: 4px;
	content: "";
	background: #ccc;
}
.event-item{
	position: relative;
	margin: 0;
	padding: 0 10%;
}

	/*---------- CONTACT ----------*/
.contact-box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-box img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	padding: 1em;
}
.contact-box iframe{
	display: none;	
}
.contact-item{
	width: 70%;
	margin: 0 auto;
	height: auto;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.contact-item h3{
	width:auto;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: left;
	margin: 0.2em 0 0.2em 0;
}
.contact-item p{
	width: auto;
	font-size: 1em;
	line-height: 1.6em;
	text-align: left;
	margin: 0;
}
.contact-item a{
	width: auto;
	margin: 0;
	line-height: 1.6em;
	text-align: left;
}

@media screen and (min-width: 800px){
	.wide{
		display: block;
	}
	.narrow{
		display: none;
	}
	.fade-left{
		pacity: 0;
		transform: translateX(-50px);
		transition: 1s;
	}
	.fade-right{
		opacity: 0;
		transform: translateX(50px);
		transition: 1s;
	}
	.float-left{
		float: left;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
	.float-right{
		float: right;
		margin-right: 1.5em;
		margin-left: 1.5em;
	}
	
	header {
		top: 0px;
		padding-top: 10px;
		position: fixed;
		background-color: white;
		z-index: 1000;
		width: 100%;
	}
	main {
		padding-top: 90px;
		max-width: 980px;
		width: 100%;
	}
	.header_container{
		max-width: 980px;
		align-items: center;
		justify-content: space-between;
		display: flex;
		flex-direction: row;
	}
	.header_container img{
		width: 300px;
		margin: 0;
	}
	.hover-mask{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		background: rgba(0,0,0,0.7);
		opacity: 0;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: all 0.3s ease;
	}
	
	nav {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: right;
	}
	nav label{
	display: none;
	}
	#navlinks{
		position: static;
		background: white;
		display: flex;
	}
	#navlinks ul{
		list-style-type: none;
	}
	#navlinks li{
		text-align: center;
		margin-left: 10px;
		height: auto;
	}
	#navlinks li a{
		font-size: 16px;
		padding-top: 5px;
		padding-left: 8px;
		padding-right: 8px;
		text-decoration: none;
		letter-spacing: auto;
		text-transform: uppercase;
		color: #5f5f5f;
		-webkit-transition: color .3s;
		transition: color .3s;
		border-top: 2px solid #ccc;
	}
	#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage{
		border-top: 4px solid rgba(40,40,40,1.00);
		padding-top: 3px;
		color: #5f5f5f;
	}
	#langlink{
		width: 100%;
		text-align: right;
	}
	#langlink a:hover, #langlink a:active, #langlink a:focus{
		font-weight: bold;
	}
	#langlink a.thispage{
		color: #F68979;
	}

	/*---------- INDEX ----------*/
	.hero {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}
	.hero img{
		width: auto;
		max-height: 400px;
		object-fit: cover;
	}
	.slick-slide {
		position: relative;
	}
	.slick-slide .hero-caption{
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
		width: 100%;
		height: 20%;
		padding: 2% 5%;
		background: rgba(0,0,0,0.6);
		color: #fff;
		font-size: 1.5em;
		opacity: 0;
		transition: .3s ease;
	}
	.slick-current .hero-caption{
		opacity: 1;
		transition-delay: .3s;
	}
	.hero-caption{
		margin: 0;
		padding: 0;
	}
	.bottom-contents{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content:space-around; 
	}
	.bottom-contents h2{
		position: relative;
		margin-bottom: 5px;
		padding-left: 5%;
		border-top: medium solid #ccc;
		border-bottom: medium solid #ccc;
		display: block;
		top: 0;
		font-size: 16px;
	}
	.news {
		width: 30%;
		height: auto;
		padding-top: 0;
		margin-bottom: 0;
		position: relative;
		overflow: hidden;
		-webkit-overflow-scrolling:touch;
	}
	.news iframe{
		margin: 0;
		position: relative;
		width: 100%;
		height: 100%;
		border: none;
		word-wrap: break-word;
	}
	.news-list {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.news-list ul{
		list-style-type: none;
	}
	.news-list ul li{
		word-wrap: break-word;
		margin-bottom: 2%;
		padding-left: 5%;
		font-size: 90%;
	}
	.about {
		width: 30%;
		padding-top: 0;
		margin-bottom: 0;
		position: relative;
		overflow: hidden;
		-webkit-overflow-scrolling:touch;
	}
	.links{
		width: 30%;
		padding-top: 0;
		margin-bottom: 0;
		position: relative;
		overflow: auto;
		-webkit-overflow-scrolling:touch;
	}
	.links ul{
		list-style-type: none;
	}
	.links ul li{
		padding-left: 5%;
		margin-bottom: 2%;
		font-size: 90%;
	}

	/*---------- MEMBERS ----------*/
	p.member-category{
		position: relative;
		font-size: 1.8em;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
	}
	p.member-affiliation{
		position: relative;
		width: 100%;
		font-size: 1.5em;
		font-weight: bold;
		padding-bottom: 1%;
		margin-bottom: 1.5%;
		text-align: left;
		border-bottom: 4px solid rgba(133,2,62,0.60);
	}
	p.member-affiliation::before{
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 20%;
		height: 4px;
		content: "";
		background: #ccc;
	}
	.faculty-list{
		margin-left: 0;
		margin-right: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.faculty-item{
		width: 33%;
		height: 200px;
		padding: 1em;
		box-sizing: border-box;
		display: flex;
	}
	.faculty2-item{
		width: 33%;
		height: 180px;
		padding: 1em;
		box-sizing: border-box;
		display: flex;
	}
	.faculty-image{
		margin: 0;
		height: 100%;
		text-align: center;
	}
	.faculty-image img{
		width: auto;
	}
	.faculty-text{
		margin-left: 1em;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}
	.faculty-name{
		width: 100%;
	}
	.faculty-info{
		width: 100%;
		margin-top: auto;
	}
	.faculty-text p.title{
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.faculty-text p.name{
		font-size: 18px;
		font-weight: bold;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.faculty-text p.info-text{
		font-size: 12px;
		margin-top: 2%;
		margin-bottom: 0;
	}
	.student-list{
		margin-left: 0;
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.student-list::after{
		display: block;
		content: "";
		width: 17%;
	}
	.student-item{
		width: 15%;
		padding: 1em;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.student-image{
		display: block;
		margin: 0;
		height: 140px;
		margin-bottom: 8px;
		text-align: center;
	}
	.student-image img{
		width: auto;
	}
	.student-text{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	.student-name{
		width: 100%;
	}
	.student-info{
		width: 100%;
		margin-top: auto;
	}
	.student-text p.title{
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.student-text p.name{
		font-size: 14px;
		font-weight: bold;
		margin-top: 0%;
		margin-bottom: 0%;
	}
	.student-text p.info-text{
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
	}
	.alumni-list{
		margin-left: 0;
		margin-right: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.alumni-item{
		width: 48%;
		height: auto;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.alumni-item table{
		border: none;
		width: 100%;
		table-layout: fixed;
		text-align: left;
	}
	.alumni-item table td{
		font-size: 10px;
	}

	/*---------- RESEARCH ----------*/
	.research-menu a img{
		transition-duration: 0.3s;
	}
	.research-menu a:hover img{
		transform: scale(1.2);
		transition-duration: 0.3s;
	}
	.research-menu a:hover .hover-mask{
		opacity: 1;
		transition: all 0.3s ease;
	}
	.research-section{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 100px;
	}
	.research-item{
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		margin-top: -100px;
		padding-top: 100px;
		display: block;
		position: relative;
	}
	.research-item p{
		max-width: 100%;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	.research-item a img{
		max-height: 60px;
		width: auto;
		margin-right: 1em;
	}
	/*---------- EVENTS ----------*/
	.event-thumbnails a img{
		transition-duration: 0.3s;
	}
	.event-thumbnails a:hover img{
		transform: scale(1.2);
		transition-duration: 0.3s;
	}
	.event-thumbnails a:hover .hover-mask{
		opacity: 1;
		transition: all 0.3s ease;
	}
	.event-date{
		position: absolute;
		margin-top: 0;
		top: 5%;
		left: 5%;
		font-size: 15px;
	}
	.event-name{
		position: absolute;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		font-size: 20px;
	}

	/*---------- EVENTS ----------*/
	.event-title{
		position: relative;
		width: 100%;
	}
	p.event-date-text{
		position: relative;
		font-size: 1.2em;
		font-weight: normal;
		margin: 1em 0;
		text-align: left;
	}
	.event-title h2{
		position: relative;
		width: 100%;
		font-size: 1.6em;
		font-weight: bold;
		padding: 0 2% 1% 2%; 
		margin: 0.5% 0 1.5%;
		text-align: left;
		border-bottom: 4px solid rgba(133,2,62,0.60);
	}
	.event-title h2::before{
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 20%;
		height: 4px;
		content: "";
		background: #ccc;
	}
	.event-item{
		position: relative;
		width: 100%;
		padding: 0 12%;
		margin: 0;
	}
	/*---------- CONTACT ----------*/
	.contact-box{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.contact-box img{
		width: 50%;
		height: 300px;
		object-fit: cover;
		padding: 1em;
	}
	.contact-box iframe{
		width: 50%;
		height: 300px;
		padding: 1em;
		display: block;
	}
	.contact-item{
		width: 30%;
		margin: 0 auto;
		height: 200px;
		padding: 1em;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.contact-item h3{
		width:auto;
		font-size: 1.2em;
		font-weight: bold;
		letter-spacing: 0.2em;
		text-align: left;
		margin: 0.2em 0 0.2em 0;
	}
	.contact-item p{
		width: auto;
		font-size: 1em;
		line-height: 1.6em;
		text-align: left;
		margin: 0;
	}
	.contact-item a{
		width: auto;
		margin: 0;
		line-height: 1.6em;
		text-align: left;
	}
}