@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html {
  font-size: 65.5%;  /* 10px (100% --> 16px) */
  overflow-y: overlay; 
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', serif, 'Noto serif JP', serif;
  /* font-family: 'Noto Sans JP', sans-serif; */
  color: #263F5B;
}

body {
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 10vh;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4%;
  z-index: 10000;
}

footer p {
  font-size: 120%;
}

a, a:visited {
  text-decoration: none;
}

h1 {
  font-size: 350%;
  font-weight: 400;
}

h2 {
  font-size: 260%;
  font-weight: 400;
}

h3 {
  font-size: 160%;
  font-weight: 400;
}

p {
  font-size: 140%;
}

i {
  color: inherit;
}

img {
  max-width: 100%;
}

figure {
  margin-top: 2%;
  margin-bottom: 2%;
  width: auto;
  display: block;
  text-align:center;
}

figcaption{
	display: block;
	margin-top: 0.5em;
	font-size: 120%;
	text-align: center;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

.fade-in {
	opacity: 0;
  transition-delay: 0.5s;
	transition: 1s;
  z-index: 10000;
}

.fade-left {
	opacity: 0;
	transform: translateX(-50px);
  transition-delay: 0.5s;
	transition: 1s;
  z-index: 10000;
}

.fade-right {
	opacity: 0;
	transform: translateX(50px);
  animation-delay: 2s;
	transition: 1s;
  z-index: 10000;
}

.fade-up{
	opacity: 0;
	transform: translateY(50px);
	transition: 1s;
  z-index: 10000;
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.button003 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.button003 a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 260px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-size: 160%;
  font-weight: 500;
}
.button003 a:hover {
  background: #313131;
  color: #FFF;
}
.button003 a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.button003 a:hover:after {
  border-color: #FFF;
}

/* header */
header {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

#hero-contents {
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#hero-contents a, a:visited {
	text-decoration: none;
  color: #263F5B;
  position: relative;
  display: inline-block;
}

#hero-contents a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #263F5B;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
  
#hero-contents a:hover::after {
  transform: scale(1, 1);
}

#hero-contents h3 {
  letter-spacing: 1px;
}

#hero-contents h1 {
  letter-spacing: 2px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Navigation */
#global-nav {
  width: 100%;
  height: 10%;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4%;
  z-index: 10000;
}

#global-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
  font-size: 140%;
}

#global-nav ul li {
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  padding: 0 20px;
}

.menu-pc a {
  font-weight: 600;
  color: #263F5B;
  position: relative;
  display: inline-block;
}

.manu-pc a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #263F5B;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
  
.manu-pc a:hover::after {
  transform: scale(1, 1);
}

#global-nav a:hover, a:active, a:focus {
  color: #263F5B;
}

.nav_fixed {
  left: 0;
  top: 0;
  height: 30px;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  opacity: 0.8;
}

.nav_fixed a::after {
  background: black;
}

.menu-mobile {
  display: none;
}

#global-nav.nav_fixed a:hover,a:active {
  color: black;
}

a.nav-link.current-position {
  color: black;
}

a.nav-link.current-position::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
  transform: scale(1, 1);
}

/* Main contents */

main {
  width: 100vw;
  /* margin-left: auto;
  margin-right: auto; */
}

main h1 {
  margin-bottom: 2%;
  text-align: center;
}

main p {
  /* font-size: 160%; */
  line-height: 130%;
  text-align: justify;
  /* margin: 5px 0; */
}

#live, #works, #bio, #lesson {
  min-height: 100vh;
  padding-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  max-width: 960px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Live */
#live .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

#live h1 {
  color: white;
}

/* Works */
#works {
  background-color: #263F5B;
}

#works .container {
  flex-direction: column;
  color: white;
}

#works h1 {
  color: white;
  margin-bottom: 5%;
}

.works-item {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.works-item img {
  width: 40%;
}

.works-item-info {
  width: 50%;
}

.works-item-info h2, .works-item-info h3, .works-item-info p {
  color: white;
}

ol.works-numbers {
  padding-left: 14px;
}

ul.works-credit {
  list-style-type: none;
}

.works-item li {
  color: white;
  font-size: 120%;
}

/* Biography */
#bio .container {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.bio-en, .bio-ja {
  width: 40%;
}

/* Lesson */
#lesson {
  background-color: #263F5B;
}

#lesson .container {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lesson-item {
  width: 30%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lesson h1, .lesson-item h2, .lesson-item p {
  color: white;
}

.lesson-item h2 {
  font-size: 180%;
  text-align: center;
}

.lesson-item p {
  width: 100%;
}

/* Contact */
#contact {
  min-height: 90vh;
  padding-top: 10vh;
  padding-left: 10%;
  padding-right: 10%;
}

.c-form {
	max-width: 100%;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
  font-size: 160%;
  text-align: right;
}
.c-form__input {
	width: 90%;
	font-size: 160%;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: #263F5B auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: #263F5B;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 180%;
	font-weight: bold;
	color: #fff;
	background-color: #263F5B;
	border: solid 1px #263F5B;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: #263F5B;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}

/* News */
#news {
  /* height: 90%; */
  background-color: #263F5B;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  margin-top: 10vh;
}

#news h1 {
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

#news .container {
  max-width: 1140px;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#news .left-panel {
  height: auto;
  width: 60%;
  max-width: 590px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.left-panel h3 {
  color: lightgray;
  margin-bottom: 5%;
}

#text-slide {
  width: 80%;
  margin: 80px 0 0;
}

#text-slide h2 {
  color: lightgray;
  font-weight: 400;
  letter-spacing: 1.5px;
}

#text-slide p {
  font-size: 140%;
  margin-top: 5%;
  color: lightgrey;
  text-align: justify;
}

/* fade-in animation for #text-slide */
#text-slide .splide__slide.is-active h2 {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slide-up-in;
}

#text-slide .splide__slide.is-active p {
  animation-delay: 0.7s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slide-up-in;
}

@keyframes slide-up-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*  */

#news .right-panel {
  width: 40%;
  /* max-width: 400px; */
}

#img-slide .splide__track {
  height: 60vh;
}

#img-slide .splide__slide {
  perspective: 600px;
  perspective-origin: 50% 0%;
  display: flex;
  justify-content: center;
}

#img-slide .splide__slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
  align-self: center;
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  -webkit-box-reflect: below -1px -webkit-gradient(linear, left bottom, left 75%, from(#FFF), to(transparent));
}

#img-slide .splide__progress {
  margin-left: auto;
  margin-right: 10px;
  width: 40px;
  background-color: lightblue;
}

#img-slide .splide__progress .splide__progress__bar {
  height: 2px;
  background: #263F5B;
}



.contact-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.contact-box img{
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 1em;
}
.contact-box iframe{
  width: 50%;
  height: 300px;
  padding: 1em;
  display: block;
}
.contact-item{
  width: 50%;
  margin: 0 auto;
  height: auto;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contact-item h3 {
  font-weight: bold;
  text-align: left;
  margin: 0.2em 0 0.2em 0;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.cd-fixed-bg.bg-hero {
  background-image: linear-gradient(to left, transparent 0%, transparent 90%, #fff 100%), linear-gradient(to right, transparent 0%, transparent 90%, #fff 100%), linear-gradient(to bottom, transparent 0%, transparent 90%, #fff 100%), url(./images/background/hero.webp);
  background-position: top;
  background-size: 1200px;
}

.cd-fixed-bg.bg-live {
  background-image: linear-gradient(to right,black 50%, transparent 70%, black 100%), url(./images/background/live.webp);
  background-position: center bottom;
}

.cd-fixed-bg.bg-bio {
  background-image: url(./images/background/bio.webp);
} 

.cd-fixed-bg.bg-lesson {
  background-image: url(./images/background/lesson.webp);
  background-size: cover;
  background-position: top;
} 

/* mobile */
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .mobile-off {
    display: none;
  }

  /* header */
  .menu-mobile {
    display: inline;
  }
  .menu-pc {
    display: none;
  }

  header #top-container {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #top-container .left-panel {
    height: auto;
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    margin: auto 0;
  }
  .left-panel h1 {
    text-align: center;
  }
  .left-panel p {
    width: 80%;
  }
  #text-slide {
    margin: 20px 0 0;
  }
  #top-container .right-panel {
    width: 60%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 0;
  }
  #img-slide .splide__track {
    height: 40vh;
  }

  /* main */
  #research, #people, #opportunities, #contact {
    padding-left: 5%;
    padding-right: 5%;
  }

  #research img {
    width: 100%;
  }

  .people-PI {
    height: auto;
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    align-content: flex-end;
  }

  #people img {
  width: 40vw;
  height: auto;
  object-fit: cover;
  }

  .contact-box{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact-box iframe{
    width: 100%;
    height: 300px;
    padding: 1em;
    display: block;
  }
  .contact-item{
    width: 100%;
  }
  
  .contact-item h3 {
    font-weight: bold;
    text-align: left;
    margin: 0.2em 0 0.2em 0;
  }  
}